:root{
    --orange: #FA4A0C;
    --black: #252B42;
    --grey: #737373;
    --bg-body: #FAFAFA;
    --lightGrey: #BDBDBD;
    --footer-text: #5C5C5C;
    --white: #FFFFFF;
}
/* MOBILE VIEW FIRST */
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--bg-body);
}
header{
    width: 100%;
    background-color: var(--white);   
}

nav{        
    height: 78px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}
nav #logo{
    width: 104px;
    height: 51.37px;
}
nav .toggle{
    display: flex;
    align-items: center;    
}
.desktop-links{
    display: none;
}
.mobile-nav-container{
    position: fixed;    
    top: 0;
    background-color: var(--orange);
    width: 100%;
    display: none;    
    height: 100vh;
    animation: scale 0.7s ease-in;   
}
@keyframes scale {
    from{
        right: -600px;
    }
    to{
        right: 0px;
    }
}
.show-or-remove-mobile-nav{
    display: block;
    
}
.mobile-nav{
    display: flex;  
    justify-content: space-between;
    z-index: 1; 
    width: 100%;
    padding: 20px; 
    margin-top: -20px;        
}
.mobile-nav-container #toggle-close{    
    margin: 7px;
}
.mobile-links .link{
    display: flex;
    align-items: center;    
    column-gap: 10px;       
}
.mobile-links .link img{
    width: 22px;
    height: 22px;
}
.mobile-links .link a{
    text-decoration: none;
}

.mobile-links .link h2{
    color: var(--white);
    font-size: 13px;
    opacity: 90%;    
}
.sm-line-rule{
    margin-left: 35px;    
    background-color: rgba(233, 227, 227, 0.849);
}
.container{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.hero{
    padding: 50px 10px;
}
.hero p{
    color: var(--grey);
    font-weight: bold;
    font-size: 16px;
}
.hero h2{
    color: var(--black);
    font-size: 36px;
    font-weight: bold;
}
.hero h3{
    color: var(--grey);
    font-size: 24px;
    font-weight: 500;
}
.hero-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
}
.hero button{
    width: 236px;
    height: 68px;
    border-radius: 30px;
    font-size: 24px;
    font-weight: bold;
    border: 0;
    outline: none;
}
.hero button:first-child{
    color: var(--white);
    background-color: var(--orange);
}
.hero button:last-child{
    color: var(--orange);
    border: 1px solid var(--orange);
}

.hero-img{
    width: 100%;
}
.desktop-header-img{
    width:100%;
    margin-top: -40px;
}
.sub-hero{
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#desktop-hr{
    display: none;
}
.sub-hero h2{
    font-size: 24px;
    color: #000;
    font-weight: 600;
}
.info{
    padding: 20px;
    text-align: center;
}
.info p{
    font-size: 24px;
}
.info-text  p:first-child{
    color: var(--orange);
}
.info-text p:last-child{
    color: var(--grey);
}
.info h2{
    color: #000;
    font-size: 40px;
}
@media screen and (min-width:760px) {
    nav{
        justify-content: space-between;
        padding: 10px 30px;
    }
    .toggle, #toggle-open{
        display: none;
    }
    .desktop-links{
        display: flex;
        column-gap: 70px;
    }
    .desktop-links a{
        text-decoration: none;
    }
    .desktop-links a h2{
        font-size: 16px;
        color: var(--black);
        font-weight: 600;
    }
    #home{
        color: var(--orange);
    }
    .hero{
        background-image: url(Images/desktop-hero.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 30px 0 100px 0;
    }
    .hero p{
        color: var(--white);
        font-size: 24px;
    }
    .hero h2{
        color: var(--white);
        font-size: 58px;
    }
    .hero h3{
        color: var(--white);
    }
    .hero-button{
        justify-content: center;
        flex-direction: row;
        column-gap: 10px;
    }
    .hero button{
        cursor: pointer;
    }

    .desktop-header-img{        
        width: 548px;
        margin-top: -70px;
    }
    #desktop-hr{
        display: block;
    }
    #mobile-hr{
        display:none;
    }
    .sub-hero h2{
        font-size: 44px;
    }
    .info{
        display: flex;
        flex-direction: column;
        padding: 10px;
        text-align: left;
        row-gap: 20px;
    }
    .details{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        column-gap: 90px;         
        margin: 30px;       
    }
    .info-text{
        width: 400px;
    }
    .explore{
        flex-direction: row;
    }

}